@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg) {
  background-color: $bg;
  color: $text-light;
  padding: $spacing-md $spacing-lg;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: darken($bg, 10%);
  }
}
